{% extends 'base.html.twig' %}

	{% block title %}Cadarsir - Développeur Web{% endblock %}

	{% block body %}
		<section class="home-slider ftco-degree-bg">

			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container">

					<div class="row slider-text align-items-center justify-content-center">
						<div class="col-md-10 ftco-animate text-center">
							<h1 class="mb-4">J'adore
								<strong class="typewrite" data-period="4000" data-type='[ "Développer.", "Designer.", "Découvrir.", "Créer." ]'>
									<span class="wrap"></span>
								</strong>
							</h1>
							<p>Bonjour, je m'appelle Romain Cadarsi, jeune Développeur et Designer Web diplômé depuis peu. J'aime découvrir de nouveaux projets et aider les gens à les concrétiser.</p>
							<p><a href="https://www.youtube.com/watch?v=kodSvxXE_R0" class="btn btn-primary btn-outline-white px-4 py-3 popup-vimeo"><span class="ion-ios-play mr-2"></span> Regarder la vidéo</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END slider -->

		<section class="ftco-section-featured ftco-animate">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="carousel owl-carousel">
							<img src="../../images/dashboard_full_1.png" class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section ftco-degree-bg">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<span class="subheading">Mes Services</span>
						<h2>Un site Cadarsir c'est bien plus qu'un simple site !</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center icon-layers"></span></div></div>
							<div class="media-body p-2">
								<h3 class="heading">Votre vision des choses</h3>
								<p>Pour avoir le site de vos rêves, décrivez moi votre projet, votre style, vos attentes. Je me charge du reste.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><span class="align-self-center icon-gears"></span></div></div>
							<div class="media-body p-2">
								<h3 class="heading">Aussi complet que voulu</h3>
								<p>Vous voulez créer un site vitrine ou au contraire gérer toutes vos activités avec? Tout est possible.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><span class="align-self-center icon-paper-plane"></span></div></div>
							<div class="media-body p-2">
								<h3 class="heading">Une oreille attentive</h3>
								<p>Si quelque chose ne vous plaît pas, je me dois de le régler, la satisfaction du client passe avant tout.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><span class="align-self-center icon-live_help"></span></div></div>
							<div class="media-body p-2">
								<h3 class="heading">Maintenabilité &amp; Support</h3>
								<p>Après avoir réalisé votre projet, qui contacter de mieux que le créateur du site lui même? Je reste à votre disposition même après la fin du projet ! </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section-parallax ftco-degree-bg">
			<div class="parallax-img d-flex align-items-center">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
							<h2 class="h1 font-weight-bold">Augmentez la visibilité de votre
								<strong class="typewrite" data-period="4000" data-type='[ "Association.", "Restaurant.", "Entreprise.", "Blog." ]'>
									<span class="wrap"></span>
								</strong> </h2>
							<p><a href="{{ path('contact') }}" class="btn btn-primary btn-outline-white mt-3 py-3 px-4">Me contacter</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container-fluid">
				<div class="row no-gutters justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<span class="subheading">Projets</span>
						<h2>Mes Projets Récents</h2>
					</div>
				</div>
				<div class="row no-gutters">
					{% for portfolio in portfolios %}
						<div class="portfolioBlock block-3 d-md-flex ftco-animate{% if loop.index % 2 %} reversed {% endif %}">
							<a href="{{ path('showPortfolio',{'slug' : portfolio.slug}) }}" class="image" style="background-image: url('{{ asset(portfolio.featuredImage.path) }}'); "></a>
							<div class="text">
								<h4 class="subheading">{{ portfolio.myWorkOnThisProject }}</h4>
								<h2 class="heading"><a href="{{ path('showPortfolio',{'slug' : portfolio.slug}) }}">{{ portfolio.title }}</a></h2>
								{{ portfolio.displayShortDescription |u.truncate( 600, '...', false) |raw }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<section class="ftco-section testimony-section ftco-degree-bg">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<span class="subheading">Ce que disent les clients</span>
						<h2>Mes clients satisfaits disent : </h2>
					</div>
				</div>
				<div class="row ftco-animate">
					<div class="col-md-12">
						<div class="carousel-testimony owl-carousel ftco-owl">
							{% for testimony in testimonies %}
							<div class="item text-center">
								<div class="testimony-wrap p-4 pb-5">
									<div class="user-img mb-4" style="background-image: url('{{ asset(testimony.client.image.path) }}')">
	                    				<span class="quote d-flex align-items-center justify-content-center">
	                      					<i class="icon-quote-left"></i>
	                   					 </span>
									</div>
									<div class="text">
										<p class="mb-5">{{testimony.description}}</p>
										<p class="name">{{ testimony.client.name }}</p>
										<span class="position">{{ testimony.client.legalEntity.name }} - {{ testimony.client.job }}</span>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-counter ftco-degree-bg" id="section-counter">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
						<h2>Mon expérience :</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="35">0</strong>
								<span>Clients satisfaits par leur projet </span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="3">0</strong>
								<span>Ans de Freelance</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<strong class="number" data-number="1205">0</strong>
								<span>Cafés engloutis</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
